/* required file for gridstack to work */
@import "https://cdn.jsdelivr.net/npm/gridstack@2.0.0/dist/gridstack.min.css";

.grid-stack {
  background: #f2f2f2;
}

.grid-stack-item-content {
  text-align: center;
  background-color: #ffffff;
}

.grid-stack-item .ui-resizable-se {
    right: 5px !important;
    bottom: 5px  !important;
}

/*
.ui-draggable-dragging {
    width: auto;
}

.ui-draggable-dragging .grid-stack-item-content {
    min-height: 100px;
    min-height: 70px;
    padding: 5px;
}
*/

.ab-toolbar {
  background-color: #ffffff; 
  padding-top: 5px; 
  padding-bottom: 5px; 
  border-bottom: 1px solid #d2d2d2;
  display: flex;
  flex-direction: column;
}

.ab-editor-content {
  padding: 0px; 
  background-color: #ffffff;
  flex-grow: 1;
  margin-top: 10px;
  margin-bottom: 10px;
}

.ab-editor-content .grid-stack {
  margin-left: 15px; 
  margin-right: 15px;
  background-color: #f2f2f2;
  background-size: 5% 50px;
  background-image: radial-gradient(circle at left, grey 1px, #f2f2f2 1px);
  background-position-y: 25px;
  min-height: calc(100vh - 10%);
}

.ab-editor-controls {
  background: #ffffff;
  border-left: 1px solid #d2d2d2;
  min-height: calc(100vh - 10%);
}

.ab-editor-controls-components {
    background-color: #ffffff;
    text-align: center;
    /* padding-left: 5px;
    padding-right: 5px; */
}

.ab-editor-controls-components .grid-stack-item {
    height: 50px;
    border: 1px solid lightgrey;
    text-align: center;
    z-index: 10;
    line-height: 25px;
    background: #b1b1c2;
    display: block;
    cursor: default;
    margin-top: 5px;
}
/* .ab-editor-controls-components .grid-stack-item .grid-stack-item-content {
    background: none;
    border: none;
} */

/* .grid-stack-placeholder.grid-stack-item,
.grid-stack-item.ui-draggable.ui-draggable-handle.ui-resizable.ui-draggable-dragging {
    background-color: #b13939 !important;
    border: 1px dotted rgb(94, 91, 91);
    top: 0 !important;
    right: 0 !important;
    left: 0 !important;
    bottom: 0 !important;
} */

.grid-stack .grid-stack-item .grid-stack-item-content {
    background-color: #ffffff;
    border: 1px dotted #a58dd3;
    top: 0 !important;
    right: 0 !important;
    left: 0 !important;
    bottom: 0 !important;
}

.ab-editor-content .ui-resizable-se {
  right: 0px !important;
  bottom: 0px !important;
}

.ab-editor-content .grid-stack-item:hover {
  border: 1px solid #a58dd3;
}

.grid-stack .grid-stack-item .grid-stack-item-content:hover {
  border: none;
}
